.main-footer {
  margin-top: 150px;
  display: flex;
}

.item-footer {
  width: 1200px;
  font-family: Sansation Light;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #292828;
  display: flex;
  flex-direction: column;
}

.item-footer1 {
  margin-left: 20px;
}

h4 {
  font-family: Sansation Light;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: 292828;
}

.footer {
  height: 80px;
  color: #FFF;
  background-color: #A46262;
  display: flex;
  align-items: center;
  justify-content: space-around;
}