.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 1200px;
  height: 600px;
  left: 0px;
  top: 0px;
}

.title {
  width: auto;
  height: auto;

  font-family: Sansation Light;
  color: #A46262;
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 140px;
  text-align: center;
  letter-spacing: -0.03em;
}