.presentation-items {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

.item {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-main {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text-center {
  font-family: Sansation Light;
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  letter-spacing: -0.03em;
  color: #292828;
}

.image-center {
  width: 1200px;
  height: 600px;
}

h3, p {
  color: #292828;
}