.container-nav {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-item {
  font-family: Sansation;
  color: #A46262;
  list-style: none;
  width: auto;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
}

